<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Worfometer</title>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <style>
            body {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <div id="content" style="margin-left: 2.5%; margin-right: 2.5%;">
            <h1>Hedgehog Spinnies</h1>
            <div id="lastDayChart" style="width: 100%; height: 400px;"></div>
            <div id="lastWeekChart" style="width: 100%; height: 400px;"></div>
            <div id="textData">
                <p>{{last_day.distance_miles | humanize}} miles
                   ({{last_day.distance_meters | humanize}} meters, {{last_day.rotations | humanize}} rotations)
                   in the last 24 hours.
                </p>
                <p>{{last_week.distance_miles | humanize}} miles
                   ({{last_week.distance_meters | humanize}} meters, {{last_week.rotations | humanize}} rotations)
                   in the last 7 days.
                </p>
                <p>{{last_month.distance_miles | humanize}} miles
                   ({{last_month.distance_meters | humanize}} meters, {{last_month.rotations | humanize}} rotations)
                   in the last 30 days.
                </p>
            </div>
        </div>

        <script>
            const dayData = [
                {% for ii in last_day.data%}[
                    moment.utc('{{ii[0]|dt_iso}}').toDate().getTime(),
                    {{ii[2]}}
                ],{% endfor %}
            ];
            const dayStartTime = moment.utc('{{last_day.start_time|dt_iso}}');
            const dayEndTime = moment.utc('{{last_day.end_time|dt_iso}}');

            const weekData = [
                {% for ii in last_week.data%}[
                    moment.utc('{{ii[0]|dt_iso}}').toDate().getTime(),
                    {{ii[2]}}
                ],{% endfor %}
            ];
            const weekStartTime = moment.utc('{{last_week.start_time|dt_iso}}');
            const weekEndTime = moment.utc('{{last_week.end_time|dt_iso}}');


            document.addEventListener('DOMContentLoaded', function () {
                const dayChart = Highcharts.chart({
                    chart: {
                        renderTo: 'lastDayChart',
                        type: 'line',
                        zoomType: 'x',
                    },
                    title: {
                        text: 'Last 24 hours',
                    },
                    xAxis: {
                        type: 'datetime',
                        min: dayStartTime.toDate().getTime(),
                        max: dayEndTime.toDate().getTime(),
                    },
                    yAxis: {
                        title: {
                            text:'Meters / {{last_day.interval|humanize}}',
                        },
                        min: 0,
                    },
                    series: [{
                        type: 'area',
                        name: 'Distance',
                        data: dayData,
                    }],
                    time: {
                        useUTC: false,
                    },
                    tooltip: {
                        valueDecimals: 2
                    },
                    credits: {
                        enabled: false,
                    },
                });

                const weekChart = Highcharts.chart({
                    chart: {
                        renderTo: 'lastWeekChart',
                        type: 'line',
                        zoomType: 'x',
                    },
                    title: {
                        text: 'Last 7 Days',
                    },
                    xAxis: {
                        type: 'datetime',
                        min: weekStartTime.toDate().getTime(),
                        max: weekEndTime.toDate().getTime(),
                    },
                    yAxis: {
                        title: {
                            text:'Meters / {{last_week.interval|humanize}}',
                        },
                        min: 0,
                    },
                    series: [{
                        type: 'area',
                        name: 'Distance',
                        data: weekData,
                    }],
                    time: {
                        useUTC: false,
                    },
                    tooltip: {
                        valueDecimals: 2
                    },
                    credits: {
                        enabled: false,
                    },
                });
            });
        </script>
    </body>
</html>
