<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Worfometer</title>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <style>
            body {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Hedgehog Spinnies</h1>
        <div id="lastDayChart" style="padding-left: 5%; width: 90%; height: 400px;"></div>
        <div id="lastWeekChart" style="padding-left: 5%; width: 90%; height: 400px;"></div>
        <div id="textData">
            <p>{{last_day_rotations | humanize}} rotations
               ({{last_day_distance_meters | humanize}} meters,
               {{last_day_distance_miles | humanize}} miles) in the last 24 hours.</p>
            <p>{{last_week_rotations | humanize}} rotations
               ({{last_week_distance_meters | humanize}} meters,
               {{last_week_distance_miles | humanize}} miles) in the last 7 days.</p>
        </div>

        <script>
            const dayData = [
                {% for ii in last_day_data%}[
                    moment.utc('{{ii[0]|dt_iso}}').toDate().getTime(),
                    {{ii[2]}}
                ],{% endfor %}
            ];
            const dayStartTime = moment.utc('{{last_day_start_time|dt_iso}}');
            const dayEndTime = moment.utc('{{last_day_end_time|dt_iso}}');

            const weekData = [
                {% for ii in last_week_data%}[
                    moment.utc('{{ii[0]|dt_iso}}').toDate().getTime(),
                    {{ii[2]}}
                ],{% endfor %}
            ];
            const weekStartTime = moment.utc('{{last_week_start_time|dt_iso}}');
            const weekEndTime = moment.utc('{{last_week_end_time|dt_iso}}');


            document.addEventListener('DOMContentLoaded', function () {
                const dayChart = Highcharts.chart({
                    chart: {
                        renderTo: 'lastDayChart',
                        type: 'line',
                        zoomType: 'x',
                    },
                    title: {
                        text: 'Last 24 hours',
                    },
                    xAxis: {
                        type: 'datetime',
                        min: dayStartTime.toDate().getTime(),
                        max: dayEndTime.toDate().getTime(),
                    },
                    yAxis: {
                        title: {
                            text:'Meters / {{last_day_interval|humanize}}',
                        },
                        min: 0,
                    },
                    series: [{
                        type: 'area',
                        name: 'Distance',
                        data: dayData,
                    }],
                    time: {
                        useUTC: false,
                    },
                    tooltip: {
                        valueDecimals: 2
                    },
                    credits: {
                        enabled: false,
                    },
                });

                const weekChart = Highcharts.chart({
                    chart: {
                        renderTo: 'lastWeekChart',
                        type: 'line',
                        zoomType: 'x',
                    },
                    title: {
                        text: 'Last 7 Days',
                    },
                    xAxis: {
                        type: 'datetime',
                        min: weekStartTime.toDate().getTime(),
                        max: weekEndTime.toDate().getTime(),
                    },
                    yAxis: {
                        title: {
                            text:'Meters / {{last_week_interval|humanize}}',
                        },
                        min: 0,
                    },
                    series: [{
                        type: 'area',
                        name: 'Distance',
                        data: weekData,
                    }],
                    time: {
                        useUTC: false,
                    },
                    tooltip: {
                        valueDecimals: 2
                    },
                    credits: {
                        enabled: false,
                    },
                });
            });
        </script>
    </body>
</html>
