<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!--       .-------------.        -->
        <!--   _.-'               `--.    -->
        <!--  /     I'm Worf, and     \   -->
        <!-- (       this is my        )  -->
        <!--  `.      website.       ,'   -->
        <!--   | ,-.             _.-'     -->
        <!--   |/   `-----------'         -->
        <!--  🦔                          -->
        <title>Worfometer</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <style>
            body {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <div id="content" style="margin-left: 2.5%; margin-right: 2.5%;">
            <h1>Hedgehog Spinnies</h1>
            <div id="lastDayChart" style="width: 100%; height: 400px;"></div>
            <div id="lastMonthChart" style="width: 100%; height: 400px;"></div>
            <div id="textData">
                <p>{{last_day.distance_miles | humanize}} miles
                   ({{last_day.distance_meters | humanize}} meters, {{last_day.rotations | humanize}} rotations)
                   in the last 24 hours.
                </p>
                <p>{{last_week.distance_miles | humanize}} miles
                   ({{last_week.distance_meters | humanize}} meters, {{last_week.rotations | humanize}} rotations)
                   in the last 7 days.
                </p>
                <p>{{last_month.distance_miles | humanize}} miles
                   ({{last_month.distance_meters | humanize}} meters, {{last_month.rotations | humanize}} rotations)
                   in the last 30 days.
                </p>
            </div>
        </div>

        <script>
            const dayData = [
                {% for ii in last_day.data%}[
                    moment.utc('{{ii.interval_start|dt_iso}}').toDate().getTime(),
                    {{ii.feet}}
                ],{% endfor %}
            ];
            const dayStartTime = moment.utc('{{last_day.start_time|dt_iso}}');
            const dayEndTime = moment.utc('{{last_day.end_time|dt_iso}}');

            const monthData = [
                {% for ii in last_month.data%}[
                    moment.utc('{{ii.interval_start|dt_iso}}').toDate().getTime(),
                    {{ii.miles}}
                ],{% endfor %}
            ];
            const monthStartTime = moment.utc('{{last_month.start_time|dt_iso}}');
            const monthEndTime = moment.utc('{{last_month.end_time|dt_iso}}');


            document.addEventListener('DOMContentLoaded', function () {
                const dayChart = Highcharts.chart({
                    chart: {
                        renderTo: 'lastDayChart',
                        type: 'line',
                        zoomType: 'x',
                    },
                    title: {
                        text: 'Last 24 hours',
                    },
                    xAxis: {
                        type: 'datetime',
                        min: dayStartTime.toDate().getTime(),
                        max: dayEndTime.toDate().getTime(),
                    },
                    yAxis: {
                        title: {
                            text:'Feet / {{last_day.interval|humanize}}',
                        },
                        min: 0,
                    },
                    series: [{
                        type: 'area',
                        name: 'Feet',
                        data: dayData,
                    }],
                    time: {
                        useUTC: false,
                    },
                    tooltip: {
                        valueDecimals: 2
                    },
                    credits: {
                        enabled: false,
                    },
                });

                const monthChart = Highcharts.chart({
                    chart: {
                        renderTo: 'lastMonthChart',
                        type: 'line',
                        zoomType: 'x',
                    },
                    title: {
                        text: 'Last 30 Days',
                    },
                    xAxis: {
                        type: 'datetime',
                        min: monthStartTime.toDate().getTime(),
                        max: monthEndTime.toDate().getTime(),
                    },
                    yAxis: {
                        title: {
                            text:'Miles / {{last_month.interval|humanize}}',
                        },
                        min: 0,
                    },
                    series: [{
                        name: 'Miles',
                        data: monthData,
                    }],
                    time: {
                        useUTC: false,
                    },
                    tooltip: {
                        valueDecimals: 2
                    },
                    credits: {
                        enabled: false,
                    },
                });
            });
        </script>
    </body>
</html>
